@import "variables.scss";

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    /*overflow: hidden;*/
}

body {
    background-size: cover;
    background-position: center center;
}

iframe {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    height: 100%;
}

.row {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

h4 {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.lightTheme {
    p, h1, h2, h3, h4, h5, h6{
        color: $darkText;
    }

    .textContainer, .lightContainer {
        background-color: $lightTextContainer !important;
    }
}

.darkTheme {
    p, h1, h2, h3, h4, h5, h6{
        color: $lightText;
    }

    .textContainer, .darkContainer {
        background-color: $darkTextContainer !important;
    }
}

.italic {
    font-style: italic;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.fullHeight {
    height: 100%;
}

.inlineBlock{
    display: inline-block;
}
