

@import "variables.scss";

.chart {
    width: 100%;
}

.lightTheme {
    .c3-chart-texts {
        .c3-text {
            fill: $darkText !important;
        }
    }
}

.darkTheme {
    .c3-chart-texts {
        .c3-text {
            fill: $lightText !important;
        }
    }
}

.c3-chart-lines {
    .c3-chart-line {
        path {
            stroke: $barChartSpline1 !important;
            stroke-width: 2px;
        }
    }
}

.c3-chart-texts {
    .c3-target {
        .c3-texts {
            .c3-text {
                font-size: 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                padding-bottom: 1rem;
            }
        }
    }
}


.c3-axis-y {
    -ms-transform: translate(10px,0px);
    -moz-transform: translate(10px,0px);
    -webkit-transform: translate(10px,0px);
    transform: translate(10px,0px);

    path {
        stroke: transparent !important;
        fill: transparent !important;
    }

    .tick {
        text {
            fill: $barChart2;
            font-size: 1.5rem;
        }

        line {
            opacity: 0;
            visibility: hidden;
        }
    }
}


.c3-axis-x {
    path {
        stroke: transparent !important;
        fill: transparent !important;
    }

    .tick {
        text {
            fill: $barChart2;
            font-size: 2.5rem;
        }

        line {
            stroke: $barChart2;
            stroke-width: 2px;
        }
    }
}

.c3-axis-y2 {
    path {
        stroke: transparent !important;
        fill: transparent !important;
    }

    .tick {
        text {
            fill: $barChartSpline1;
            font-size: 1.5rem;
        }

        line {
            opacity: 0;
            visibility: hidden;
        }
    }
}

@each $color in $barChartList {
    $i: index($barChartList, $color);

    .c3-chart-bars .c3-chart-bar:nth-child(#{$i})  {
        .c3-bar {
            stroke: $color !important;
            fill: $color !important;
        }
        .markedBar {
            stroke: lighten($color, $markedBarLighten) !important;
            fill: lighten($color, $markedBarLighten) !important;
            opacity: 0.7 !important;
        }
    }
}
