$darkText: black;
$lightTextContainer: hsla(0, 0%, 100%, 0.5);

$lightText: white;
$darkTextContainer: hsla(0, 0%, 0%, 0.5);


$barChart1 :#136994;
$barChart2 :#198dc7;
$barChart3: #945913;
$barChart4: #c78819;
$barChart5: #139441;
$barChart6: #19c74a;
$barChart7: red;
$barChart8: yellow;
$barChart9: brown;

$barChartList: $barChart1 $barChart2 $barChart3 $barChart4 $barChart5 $barChart6 $barChart7 $barChart8 $barChart9;

$barChartSpline1: #c22323;
$savedRotation: 15deg;
$markedBarLighten: 10%;

$backgroundBlurSize: 5px;
