<!DOCTYPE html>
<html>
<head>
    <title>Slide1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <style>
        body {
            background-image: url('background.jpg');
        }
    </style>

</head>
<body>

    <div class="lightTheme container" id="main" role="main">

        <section class="row">
            <h1>Arendal kulturhus</h1>
        </section>

        <section class="row textContainer">
            <h2 class="italic">
                Bygget har 8110 kvadratmeter med oppvarmet areal. Det er investert 490.000,- i energiløsninger med styring av 50 rom, ett lager med tre soner, utvendig varmekabler og ventilasjonsanlegg.
                <br />
                <br />
                Selv om bygget driftes miljøvennlig er dine valg viktige, tenk ensdf.
            </h2>
        </section>

        <section class="whiteBand">
            <div class="row">
                <img class="logo" src="../images/log.png" />
                <span class="floatRight time" data-bind="text: clock"></span>
            </div>
        </section>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="slide1.js"></script>
</body>
</html>
