<!DOCTYPE html>
<html>
<head>
    <title>Slide1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../css/normalize.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />


</head>
<body>

    <div class="darkTheme container" id="main" role="main">

        <section class="row topContainer">
            <h1 class="title" id="slideTitle">Arendal kulturhus</h1>
        </section>


        <div class="textContainer pushLeft row">
            <h2 class="italic" id="textContainer">
            </h2>
        </div>

        <div class="whiteBand">
            <div class="row">
                <img class="logo" src="../../images/log.png" />
                <span class="floatRight time" data-bind="text: clock"></span>
            </div>
        </div>


    </div>


    <script src="../../js/jquery-2.2.0.min.js"></script>
    <script src="../../js/knockout-3.4.0.js"></script>
    <script src="../../constants.js"></script>
    <script src="clock.js"></script>
    <script src="script.js"></script>
    <script src="module.js"></script>
</body>
</html>
