<!DOCTYPE html>
<html>
<head>
    <title>Forbuk siste tre måneder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../css/normalize.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../css/c3.css" rel="stylesheet" />


</head>
<body>

    <div class="lightTheme container" id="main" role="main">

        <section class="row topContainer">
            <h1 class="title">Siste ukes forbruk</h1>
        </section>


        <div class="chartContainer lightContainer row moveForwardZ" id="chartContainer">
            <div id="chart" class="excludeFromTheme mainChart"></div>
        </div>


        <div class="whiteBand whiteBandGraph2" id="whiteBand">
            <div class="row whiteBandRow">
            </div>

            <div class="row">
                <div class="inlineBlock timeUsage">
                    <h4>Høyeste timesforbruk</h4>
                    <h1>4300kW</h1>
                </div>

                <div class="inlineBlock sensors" id="sensors">
                    <div class="sensor inlineBlock floatLeft">
                        <h4 class="inlineBlock">
                            <span class="sensorLabel inlineBlock"></span> Sensor navn 1
                        </h4>
                    </div>

                    <div class="sensor inlineBlock floatLeft">
                        <h4 class="inlineBlock">
                            <span class="sensorLabel inlineBlock"></span> Sensor navn 2
                        </h4>
                    </div>

                </div>
            </div>

            <div class="row whiteBandRow logoRow">
                <img class="logo" src="../../images/log.png" />
            </div>
        </div>
    </div>

    <script src="../../js/jquery-2.2.0.min.js"></script>
    <script src="d3.js"></script>
    <script src="c3.js"></script>
    <script src="script.js"></script>
</body>
</html>
