<!DOCTYPE html>
<html>
<head>
    <title>Forbuk siste tre måneder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../css/normalize.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../css/c3.css" rel="stylesheet" />


</head>
<body>

    <div class="container" id="main" role="main">

        <section class="row topContainer">
            <h1 class="title">Siste ukes forbruk</h1>
        </section>


        <div class="chartContainer chartContainer2 chart2Row moveForwardZ" id="chartContainer">
            <div id="chart" class="excludeFromTheme mainChart"></div>
        </div>


        <div class="whiteBand whiteBandGraph2" id="whiteBand">
            <div class="chart2Row whiteBandRow whiteBandRowSlim">
                <span data-bind="text: lastNight" class="floatRight lastNight" id="lastNight"></span>
            </div>

            <div class="row sensorRow">
                <div class="inlineBlock timeUsage">
                    <h4>Høyeste timesforbruk</h4>
                    <h1 data-bind="text: dataMax"></h1>
                </div>

                <div class="inlineBlock sensors" id="sensors"  data-bind="foreach: groups">
                    <div class="sensor inlineBlock floatLeft">
                        <h4 class="inlineBlock">
                            <span class="sensorLabel inlineBlock sensorLabelColor" data-bind="css: $parent.getClass($data)"></span><span data-bind="text: $data"></span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row whiteBandRow logoRow">
                <img class="logo" src="../../images/log.png" />
            </div>
        </div>
    </div>
    <script src="../../js/jquery-2.2.0.min.js"></script>
    <script src="../../js/knockout-3.4.0.js"></script>
    <script src="../../constants.js"></script>
    <script src="../../util.js"></script>
    <script src="d3.js"></script>
    <script src="c3.js"></script>
    <script src="../../localstorage.js"></script>
    <script src="../../chartLocalstore.js"></script>
    <script src="script.js"></script>
    <script src="module.js"></script>
</body>
</html>
