<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The YR template</title>


    <link href="../../css/normalize.css" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />


</head>
<body>
    <div class="lightTheme container" id="main" role="main">

        <section class="row topContainer">
        </section>

        <div class="row weatherContainer">
            <div class="weatherForecast" id="weatherForecast"></div>
            <div id="yr-credits">Levert av YR og met</div>
        </div>

        <div class="whiteBand">
            <div class="row">
                <img class="logo" src="../../images/log.png" />
                <span class="floatRight time" data-bind="text: clock"></span>
            </div>
        </div>
    </div>

    <script src="../../js/jquery-2.2.0.min.js"></script>
    <script src="../../js/knockout-3.4.0.js"></script>
    <script src="../../constants.js"></script>
    <script src="clock.js"></script>
    <script src="yr.js"></script>
    <script src="module.js"></script>
</body>
</html>